name: PHP Unit-Test

on: [ push, pull_request ]

jobs:
  test:
    runs-on: ubuntu-latest
 
    steps:
      - uses: actions/checkout@v3
      - name: Composer cache
        uses: actions/cache@v3
        with:
          path: "vendor"
          key: ${{ runner.os }}-8.1-composer-${{ hashFiles('**/composer.json') }}
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: 8.1
      - name: Update Composer
        run: |
          sudo composer self-update
          composer --version
      - name: Validate composer.json and composer.lock
        run: composer validate
      - name: Install composer
        run: composer install -o --no-interaction --no-suggest --prefer-dist

      - name: PHPUnit tests
        uses: php-actions/phpunit@v3
        env:
          XDEBUG_MODE: coverage
        with:
          coverage_cobertura: "cobertura.xml"
          php_version: "8.1"
          php_extensions: "xdebug"
          version: "10.3"
          configuration: "phpunit.xml"
      - name: Behat tests
        uses: php-actions/behat@master
        with:
          php_version: "8.1"
